pancake-recipe-webhook.workflow.json
{
  "name": "Pancake Recipe - Webhook + Gemini 2.5 Flash",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pancake-recipe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pancake-recipe"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "mode": "id",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json?.body?.prompt || 'Please give me a detailed classic pancake recipe including: a list of ingredients with measurements, and numbered step-by-step instructions. Make it easy to follow for a home cook.' }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000002",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [480, 300],
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { recipe: $json.text || $json.content?.parts?.[0]?.text || $json.output || $json.response } }}",
        "options": {}
      },
      "id": "b1c2d3e4-0003-0003-0003-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
